.poster{
    width: 180px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.mov-card{
    margin-bottom: 10px;
}
.mov-name{
    margin-top: 10px;
    width: 180px;
    color: rgb(255, 255, 255);
    /* background-color: antiquewhite; */
}
