.poster{
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.mov-card{
    margin-bottom: 10px;
}
.mov-name{
    margin-top: 10px;
    color: red;
}
