.darkBg{
    z-index: -1;
    background-color: #111138;
}
.banner{
    padding-left: 40px;
    padding-right:40px;       
    display:flex ;
    justify-content: center;
    align-items: center;
}
.btn-ticket{
  
    position: relative;
    bottom: 100px;
    left: 80px; 
    z-index: 1;  
  }

  
  /* ห้ามลบบบ */
  img {
    border: 0;
    border-radius: 10px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  @media screen and (max-width: 960px) {
    .btn-ticket{
    
      position: relative;
      bottom: 50px;
      left: 30px; 
      z-index: 1;  
    }
  
  }