.container{    
    display: flex;
    
    /* margin-bottom: 250px; */
    /* background-color: aqua; */
}
.wrapper{
    display: flex;
    padding: 6px;
}
.wrap-front{
   height: 300px;
   width: 650px;
   margin-left: 25px;
   margin-top: 30vh;
   margin-bottom: 25vh;
   display: flex;
   align-items: center;
   /* background-color: aquamarine; */
   border: 1px solid white; 
   border-radius: 12px;
}
.wrap-back{
    height: 300px;
    width: 450px;
    margin-left: 2vw;   
    margin-top: 30vh;
    margin-bottom: 25vh;
    border: 1px solid white; 
    border-radius: 12px;
    display: flex;
    align-items: center;
 }
