.Wrap-mov{
    align-items: center;
    padding-left: 1.5rem;
}
.allMovie{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.8rem;
    /* padding: 0 20px; */
    /* justify-content: space-around;  */
    
}
.ser{
    background-color: transparent;
    width: 355px;
    height: 30px;
    margin-left: 39vw;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
    
    justify-content: center;
    color: white;


}
.ser:focus{
    background-color: white;
    color: black;
    
}
.Wrap-serach{
    margin: 24px;
    /* background-color: chartreuse; */
}
@media screen and (max-width:1200px) {
    .ser{
       
        margin-left: 30vw;
        /* background-color: chartreuse; */
    
    }
    
}
@media screen and (max-width:900px) {
    .ser{
       
        margin-left: 20vw;
        /* background-color: rgb(38, 51, 25); */
    
    }
    
}
@media screen and (max-width:700px) {
    .ser{
       
        margin-left: 2vw;
        /* background-color: rgb(255, 255, 255); */
    
    }
    
}